<script>
  var partial_page = "perform_analysis";
  temp_period="";
  temp_exp = "";
</script>
<style>
  .more {width 98%;}
  .financials_tablelabel5{ width: 98%;}
  .tablecol5, .more {width: 98%;}
</style>
<%#financial_sub_id = params[:tl_period] == "3" ? @last_year_financial_sub_id : @financial_sub_id%>
<%cur_year_actuals,cur_year_budget,cur_year_variance,financial_sub_id,month_hash_cur_year,months,year = trend_performance_calc%>
<div id="perAnalysisTabContent1">
  <table width="100%" align="center" cellspacing="0" cellpadding="6" border="0" class="tablefb padL5 padR5 hovertr">
    <thead>
      <tr class="fb-tr-head">
        <th class="bdr-lt-gry bdr-rt-wht td60">Month</th>
        <th class="bdr-rt-wht td80">Actuals $</th>
        <th class="bdr-rt-wht td80">Budget $</th>
        <th class="bdr-rt-wht td80">Variance $</th>
        <th class="bdr-rt-wht td248">Explanation</th>
      </tr>
    </thead>
    <%color_display = @parent_title%>
    <%exp_month_ytd,exp_ytd_check,variance_task_document_id=initial_variance_calculations(@current_time_period,"financials")%>
    <tbody>
      <%if params[:tl_period] == "4"%>
        <%exp_month_ytd = @financial_month%>
        <%exp_ytd_check = true%>
      <%elsif params[:tl_period] == "11"%>
        <%exp_month_ytd = "t12"%>
        <%exp_ytd_check = true%>
      <%elsif params[:tl_period] == "3"%>
			<%financial_sub_id = @last_year_financial_sub_id%>
        <%exp_month_ytd = 12%>
        <%exp_ytd_check = true%>
      <%end%>
      <tr>	
        <% icon_direction,use_color,color_flag,color_icon = (color_display && color_display == 'income') ?  find_color_direction_and_icon_income(cur_year_actuals.to_f,cur_year_budget.to_f) :  find_color_direction_and_icon(cur_year_actuals.to_f,cur_year_budget.to_f)%>
        <td align="left" class="tabYTDbg bdr-lt-gry bdr-rt-gry "><%if  !params[:tl_period].present? || params[:tl_period] == "4"%>YTD <%elsif params[:tl_period] == "3"%> Last Year<%elsif params[:tl_period] == "11"%> Trailing 12 Months<%end%></td>
        <td align="right" class="tabYTDbg bdr-rt-gry "><%=display_currency_real_estate_overview(cur_year_actuals)%></td>
        <td align="right" class="tabYTDbg bdr-rt-gry "><%=display_currency_real_estate_overview(cur_year_budget)%></td>
        <td align="right" class="tabYTDbg bdr-rt-gry <%= ((color_flag.eql?('green') || color_flag.eql?('')) ?  "txtGreen" : "txtRed" )%>"><%=display_currency_variance(cur_year_variance)%></td>
        <td align="left" class="tabYTDbg bdr-rt-gry padL5" id="comment1" >				
          <% percent = cur_year_variance*100/cur_year_budget.to_f.abs rescue ZeroDivisionError
          if  cur_year_budget.to_f==0
            percent = ( cur_year_actuals.to_f == 0 ? 0 : -100 )
          end
          percent=0.0 if percent.to_f.nan?%>
          <% if  (financial_explanation(financial_sub_id,exp_month_ytd,exp_ytd_check).nil? || financial_explanation(financial_sub_id,exp_month_ytd,exp_ytd_check).blank?) %>
            <%i =0%>
            <div onclick="show_explanation('explain_income_<%=i%>');" onmouseover="document.getElementById('non_explain_income_<%=i%>').style.backgroundColor='yellow';" onmouseout="document.getElementById('non_explain_income_<%=i%>').style.backgroundColor='';" class="tablecol5" >
              <span id="non_explain_income_<%=i%>" style="padding-top:1px;margin-left:5px;padding-left:5px;width:90%;border:0px solid red;display:block;">
                <%=truncate_extra_chars_for_expl(financial_explanation(financial_sub_id,exp_month_ytd,exp_ytd_check),75) %>&nbsp;
              </span>
              <div class="more ie_7_empty_div" id="explain_income_<%=i%>_more" style="width: 203px;"></div>
              <div id="explain_income_<%=i%>_text"  style="display:none" >
                <textarea id="explain_income_<%=i%>_box" name="explain_income_box" class="expand25-300 inline_editing_tablecol5" style="width: 98%" size="5" onblur="text_msg_display('explain_income');save_financial_exp(this.value,'<%= financial_sub_id %>','<%= exp_month_ytd %>','<%= exp_ytd_check %>','<%= variance_task_document_id %>','<%= request.request_uri %>')"><%= financial_explanation(financial_sub_id,exp_month_ytd,exp_ytd_check) %></textarea>
              </div>
            </div>
          <% else %>
            <%variance_thres,exp_ytd_check,explanation_doc_id,and_or,val = find_variance_threshold_financial_performance(exp_month_ytd,exp_ytd_check,financial_sub_id,percent,cur_year_variance)%>
            <% if eval(val)  && @note.try(:class).eql?(RealEstateProperty) && params[:tl_period] != "11"%>
              <div class="financials_tablelabel5">
                <span id="non_explain_income_<%=i%>" style="padding-top:1px;margin-left:5px;padding-left:5px;width:90%;border:0px solid red;display:block;">
                  <%=truncate_extra_chars_for_expl(financial_explanation(financial_sub_id,exp_month_ytd,exp_ytd_check),75) %>&nbsp;
                </span>
                <div class="more <% if financial_explanation(financial_sub_id,exp_month_ytd,exp_ytd_check).blank? %>ie_7_empty_div<% end %>" id="explain_income_<%=i%>_more" >
                  <% if  !financial_explanation(financial_sub_id,exp_month_ytd,exp_ytd_check).blank? %>
                    <a href="/real_estate/<%=@note.try(:portfolio_id)%>/properties/<%= @note.try(:id)%>?tl_period=<%= params[:tl_period]%>&tl_month=<%=params[:tl_month]%>&tl_year=<%= year%>&quarter_end_month=<%= params[:quarter_end_month]%>&highlight_id=<%= financial_sub_id%>&page_refer=variances" class="loader_event">Edit</a>
                  <%end%>
                </div>
              </div>
            <% else%>
              <div class="financials_tablelabel5">
                <span id="non_explain_income_<%=i%>" style="padding-top:1px;margin-left:5px;padding-left:5px;width:90%;border:0px solid red;display:block;">
                  <%= truncate_extra_chars_for_expl(financial_explanation(financial_sub_id,exp_month_ytd,exp_ytd_check),75) %>&nbsp;
                </span>
                <div class="more" id="explain_income_<%=i%>_more"">
                     <a href = "<%= '/tasks/check_variance_task?doc_id='+explanation_doc_id.to_s+'&title_explanation='+"#{@financial_sub}"+'&actual_explanation='+"#{cur_year_actuals}"+'&budget_explanation='+"#{cur_year_budget}"+'&text_explanation='+URI.encode(financial_explanation(financial_sub_id,exp_month_ytd,exp_ytd_check).to_s)+'&var_per_explanation='+"#{(percent)}"+'&var_amt_explanation='+"#{(cur_year_variance)}"+'&id_explanation='+financial_sub_id.to_s+'&month_explanation='+exp_month_ytd.to_s+'&year_explanation='+exp_ytd_check.to_s+'&user_id_explanation='+financial_explanation_user_id(financial_sub_id,exp_month_ytd,exp_ytd_check).to_s+'&use_color='+"#{use_color}"+'&performance_review_path='+request.request_uri.gsub('&','and')+'&from_performance_review='+'true'+'&type='+'perf_analysis'%>"  id="explain_income_<%=i%>_task" >Edit</a>
                  <script> new Control.Modal($('explain_income_<%=i%>_task'), {beforeOpen: function(){load_writter();},afterOpen: function(){load_completer();},className:'modal_container', method:'get'});</script>
                </div>
              </div>
            <% end%>

          <% end %>
        </td>
      </tr>
    </tbody>
    <% color_display = @parent_title%>
    <%if params[:tl_period] == "4"%>
      <%tmp_month = ["","January","February", "March","April","May","June","July","August","September","October", "November","December"]
      months = []
      for i in 1..@financial_month.to_i do
        months << tmp_month[i]
      end%>
    <%end%>
    <%months.each_with_index do |month,i|%>
      <%if params[:tl_period] == "11"%>
        <%exp_ytd_check = false%>
        <%exp_month_ytd =  find_month_val(month)%>
        <% i = find_month_val(month)%>
        <%financial_sub_id = month.include?("11") ? @last_year_financial_sub_id : @financial_sub_id%>
				<%elsif params[:tl_period] == "3"%>
				<%financial_sub_id = @last_year_financial_sub_id%>
				<%exp_ytd_check = false%>
        <%exp_month_ytd =  i + 1%>
        <%i = i + 1%>
      <%else %>			
        <%exp_ytd_check = false%>
        <%exp_month_ytd =  i + 1%>
        <%i = i + 1%>
      <%end%>
      <tbody>
        <tr class="">
          <td align="left" class="bdr-lt-gry bdr-rt-gry bdr-TBD-gry"><%= month%> </td>
          <%if params[:tl_period] == "11"%>
            <%
            if month.include?(Date.today.strftime('%y'))
              actual = @performance_trend.present? ? @performance_trend["#{@performance_trend.keys.first}"]["#{month.split('-')[0]}"].to_i : 0
              budget = @performance_trend_budget.present? ? @performance_trend_budget["#{@performance_trend_budget.keys.first}"]["#{month.split('-')[0]}"].to_i : 0
            else
              actual = @performance_trend1.present? ? @performance_trend1["#{@performance_trend1.keys.first}"]["#{month.split('-')[0]}"].to_i : 0
              budget = @performance_trend_budget1.present? ? @performance_trend_budget1["#{@performance_trend_budget1.keys.first}"]["#{month.split('-')[0]}"].to_i : 0
            end
          %>
            <% icon_direction,use_color,color_flag,color_icon = (color_display && color_display == 'income') ?  find_color_direction_and_icon_income(actual.to_f,budget.to_f) :  find_color_direction_and_icon(actual.to_f,budget.to_f)%>
            <td align="right" class="bdr-rt-gry bdr-TBD-gry"><%=display_currency_real_estate_overview(actual)%></td>
            <td align="right" class="bdr-rt-gry bdr-TBD-gry"><%=display_currency_real_estate_overview(budget)%></td>
            <%cur_year_variance = budget - actual%>
            <td align="right" class="bdr-rt-gry bdr-TBD-gry <%= (color_flag.eql?('green') || color_flag.eql?(''))  ?  "txtGreen" : "txtRed" %>"><%=display_currency_real_estate_overview(cur_year_variance.abs)%></td>
          <%else%>
            <%
            if params[:tl_period] == "4"
              #month_hash_cur_year[month]["#{month}_actuals"] = 0 if ytd_month.exclude?(month)
              #month_hash_cur_year[month]["#{month}_budget"] = 0 if ytd_month.exclude?(month)
            end
          %>
            <% icon_direction,use_color,color_flag,color_icon = (color_display && color_display == 'income') ?  find_color_direction_and_icon_income(month_hash_cur_year[month]["#{month}_actuals"].to_f,month_hash_cur_year[month]["#{month}_budget"].to_f) :  find_color_direction_and_icon(month_hash_cur_year[month]["#{month}_actuals"].to_f,month_hash_cur_year[month]["#{month}_budget"].to_f)%>
            <td align="right" class="bdr-rt-gry bdr-TBD-gry"><%=display_currency_real_estate_overview(month_hash_cur_year[month]["#{month}_actuals"].to_f)%></td>
            <td align="right" class="bdr-rt-gry bdr-TBD-gry"><%=display_currency_real_estate_overview(month_hash_cur_year[month]["#{month}_budget"].to_f)%></td>
            <%cur_year_variance = month_hash_cur_year[month]["#{month}_budget"].to_f - month_hash_cur_year[month]["#{month}_actuals"].to_f%>
            <td align="right" class="bdr-rt-gry bdr-TBD-gry <%= (color_flag.eql?('green') || color_flag.eql?('')) ?  "txtGreen" : "txtRed" %>"><%=display_currency_variance(cur_year_variance)%></td>
          <%end%>
          <td align="left" class="bdr-rt-gry bdr-TBD-gry padL5" id="comment2" >
            <%percent = 0%>
            <%if params[:tl_period] != "11"%>
              <% percent = cur_year_variance*100/(month_hash_cur_year[month]["#{month}_budget"].to_f).abs rescue ZeroDivisionError
              if  month_hash_cur_year[month]["#{month}_budget"].to_f==0
                percent = ( month_hash_cur_year[month]["#{month}_actuals"].to_f == 0 ? 0 : -100 )
              end
              percent=0.0 if percent.to_f.nan?%>
            <%end%>
            <% if  (financial_explanation(financial_sub_id,exp_month_ytd,exp_ytd_check).nil? || financial_explanation(financial_sub_id,exp_month_ytd,exp_ytd_check).blank?) %>
              <div onclick="show_explanation('explain_income_<%=i%>');" onmouseover="document.getElementById('non_explain_income_<%=i%>').style.backgroundColor='yellow';" onmouseout="document.getElementById('non_explain_income_<%=i%>').style.backgroundColor='';" class="tablecol5" >
                <span id="non_explain_income_<%=i%>" style="padding-top:1px;margin-left:5px;padding-left:5px;width:90%;border:0px solid red;display:block;">
                  <%=truncate_extra_chars_for_expl(financial_explanation(financial_sub_id,exp_month_ytd,exp_ytd_check),75) %>&nbsp;
                </span>
                <div class="more ie_7_empty_div" id="explain_income_<%=i%>_more" style="width: 203px;"></div>
                <div id="explain_income_<%=i%>_text"  style="display:none" >
                  <textarea id="explain_income_<%=i%>_box" name="explain_income_box" class="expand25-300 inline_editing_tablecol5"  style="width: 98%" size="5" onblur="text_msg_display('explain_income');save_financial_exp(this.value,'<%= financial_sub_id %>','<%= exp_month_ytd %>','<%= exp_ytd_check %>','<%= variance_task_document_id %>','<%= request.request_uri %>')"><%= financial_explanation(financial_sub_id,exp_month_ytd,exp_ytd_check) %></textarea>
                </div>
              </div>
            <% else %>
              <%variance_thres,exp_ytd_check,explanation_doc_id,and_or,val = find_variance_threshold_financial_performance(exp_month_ytd,exp_ytd_check,financial_sub_id,percent,cur_year_variance)%>
              <% if eval(val) && @note.try(:class).eql?(RealEstateProperty) %>
                <div class="financials_tablelabel5">
                  <span id="non_explain_income_<%=i%>" style="padding-top:1px;margin-left:5px;padding-left:5px;width:90%;border:0px solid red;display:block;">
                    <%=truncate_extra_chars_for_expl(financial_explanation(financial_sub_id,exp_month_ytd,exp_ytd_check),75) %>&nbsp;
                  </span>
                  <div class="more <% if financial_explanation(financial_sub_id,exp_month_ytd,exp_ytd_check).blank? %>ie_7_empty_div<% end %>" id="explain_income_<%=i%>_more">
                    <% if  !financial_explanation(financial_sub_id,exp_month_ytd,exp_ytd_check).blank? %>
                      <a href="/real_estate/<%=@note.try(:portfolio_id)%>/properties/<%= @note.try(:id)%>?tl_period=10&tl_month=<%=exp_month_ytd%>&tl_year=<%= year%>&quarter_end_month=<%= params[:quarter_end_month]%>&highlight_id=<%= financial_sub_id%>&page_refer=variances" class="loader_event">Edit</a>
                    <%end%>
                  </div>
                </div>
              <% else%>
                <div class="financials_tablelabel5">
                  <span id="non_explain_income_<%=i%>" style="padding-top:1px;margin-left:5px;padding-left:5px;width:90%;border:0px solid red;display:block;">
                    <%= truncate_extra_chars_for_expl(financial_explanation(financial_sub_id,exp_month_ytd,exp_ytd_check),75) %>&nbsp;
                  </span>
                  <div class="more" id="explain_income_<%=i%>_more">
                    <%if params[:tl_period] == "11"%>
                      <%actual_val = actual
                      budget_val = budget
                      variance_val = cur_year_variance
                      percent_val = percent
                      color_display = @parent_title
                      icon_direction,use_color,color_flag,color_icon = (color_display && color_display == 'income') ?  find_color_direction_and_icon_income(actual.to_f,budget.to_f) :  find_color_direction_and_icon(actual.to_f,budget.to_f)
                    %>
                    <%elsif params[:tl_period] == "4" || params[:tl_period] == "3"%>
                      <%actual_val = month_hash_cur_year[month]["#{month}_actuals"]
                      budget_val = month_hash_cur_year[month]["#{month}_budget"]
                      variance_val = cur_year_variance
                      percent_val =  percent
                      color_display = @parent_title
                      icon_direction,use_color,color_flag,color_icon = (color_display && color_display == 'income') ?  find_color_direction_and_icon_income(month_hash_cur_year[month]["#{month}_actuals"].to_f,month_hash_cur_year[month]["#{month}_budget"].to_f) :  find_color_direction_and_icon(month_hash_cur_year[month]["#{month}_actuals"].to_f,month_hash_cur_year[month]["#{month}_budget"].to_f)
                    %>
                    <%end%>
                    <a href = "<%= '/tasks/check_variance_task?doc_id='+explanation_doc_id.to_s+'&title_explanation='+"#{@financial_sub}"+'&actual_explanation='+"#{actual_val}"+'&budget_explanation='+"#{budget_val}"+'&text_explanation='+URI.encode(financial_explanation(financial_sub_id,exp_month_ytd,exp_ytd_check).to_s)+'&var_per_explanation='+"#{(percent_val)}"+'&var_amt_explanation='+"#{(variance_val)}"+'&id_explanation='+financial_sub_id.to_s+'&month_explanation='+exp_month_ytd.to_s+'&year_explanation='+exp_ytd_check.to_s+'&user_id_explanation='+financial_explanation_user_id(financial_sub_id,exp_month_ytd,exp_ytd_check).to_s+'&use_color='+"#{use_color}"+'&performance_review_path='+request.request_uri.gsub('&','and')+'&from_performance_review='+'true'+'&type='+'perf_analysis' %>"  id="explain_income_<%=i%>_task" >Edit</a>
                    <script> new Control.Modal($('explain_income_<%=i%>_task'), {beforeOpen: function(){load_writter();},afterOpen: function(){load_completer();},className:'modal_container', method:'get'});</script>
                  </div>
                </div>
              <% end%>

            <% end %></td>
        </tr>
      </tbody>
    <%end%>

  </table>
</div>
