<%
    a = {"income detail"  => "Operating Revenue","operating income"  => "Operating Revenues"}
    title = a[params[:selected_link].strip].present? ? a[params[:selected_link].strip] : params[:selected_link].strip.gsub(' detail','').gsub(' Detail','')
  %>
<div id="financialinfoContent1" class="box-1col borRLT0px">
  <div class="dashboard_graphs">
    <%=render :partial => "dashboard_graphs",:locals=>{:operating_trend_rev =>@operating_trend['op rev'], :operating_trend_exp=>@operating_trend["operating expenses"],:operating_trend_noi=>@operating_trend['noi'],:operating_trend_cap=>@operating_trend['capital expenditures'],:operating_trend_cash => @operating_trend['net cash flow'] , :operating_trend_maint => @operating_trend['maintenance projects'],:month_array=>@month_array,:month_array_string=>@month_array_string,:financial_month=>@financial_month,:graph_property_id=>graph_property_id,:graph_portfolio_id=>graph_portfolio_id,:first_two_digit_year=>first_two_digit_year,:property_id=>property_id,:value_noi =>@value_noi,:month_array_noi=>@month_array_noi,:positive_variance=>@positive_variance,:negative_variance=>@negative_variance,:rent_sqft => @rent_sqft,:occupied_percentage => @occupied_percentage,:sqft_variance => @sqft_variance,:sqft_var_percent => @sqft_var_percent,:diff => @diff,:operating_statement =>operating_statement,:note => @note,:trend_graph => true,:operating_trend_graph => @operating_trend,:operating_trend_graph1 => @operating_trend1,:sqft_var_percent_check => @sqft_var_percent_check}%>
  </div>
  <div class="clear"></div>
  <div class="box-title" ><span id="performance_title" class="title"><%= title.titleize %> <span id="trend_performance_txt">Analysis</span>: <%if  !params[:tl_period].present? || params[:tl_period] == "4"%>YTD<%elsif params[:tl_period] == "3"%> Last Year<%elsif params[:tl_period] == "11"%> Trailing 12 Months<%end%></span><span class="fltrt fontWB maginR5"> <a href="javascript:void(0)" id="perAnalysisTab1" class="selectLink" onclick="change_performance_analysis('performance','<%= params[:tl_period] %>','<%= @financial_sub%> ','<%= params[:tl_year]%> ','<%= params[:property_id]%> ',<%= @resource%>,<%= @financial_sub_id.present? ? @financial_sub_id : 0%> ,'<%=params[:parent_title]%>')">Performance Analysis</a><span class="sapr-gey maginR5 marginL5">|</span> <a href="javascript:void(0)" id="perAnalysisTab2" onclick="change_performance_analysis('year_on_year_growth','<%= params[:tl_period] %>','<%= @financial_sub%> ','<%= params[:tl_year]%> ','<%= params[:property_id]%> ',<%= @resource%>,<%= @financial_sub_id.present? ? @financial_sub_id : 0%> ,'<%=params[:parent_title]%>');">Year on Year Growth</a></span></div>
  <div class="clear"></div>
  <div id="performance_analysis">
    <%=render :partial => "performance_analysis",:locals => {:operating_statement => operating_statement}%>
  </div>
  <div class="clearfloat"></div>
</div>