<script>
<%if params[:updated]%>
flash_writter();
	function flash_writter(){
		jQuery('#success_msg').html("<%=FLASH_MESSAGES['client_admin']['115']%>");
		jQuery('#msg_writter').css('background',"url('/images/loader_bg.png')");
		jQuery('#msg_writter').show();
		jQuery('#msg_writter').fadeOut(10000);
		msg_t = setTimeout('flash_completer();', 5000);
}
function flash_completer() { jQuery('#msg_writter').fadeOut(5000);}
<%end%>
</script>

<%= form_for @client, :url => client_admin_setting_path(current_user.try(:id), @client) do |client_form| %>
<div class="box-1col">
    <div class="clearfloat">
    </div>
    <div class="col1P">
        <div class="margin10LR">
            <span class=" TxtBold">Enable Financial Reports & Metrics Module </span>
							<span id= "financial_data"><b><%=client_form.object.is_financials_required ? 'Financial Enabled' : 'Financial Disabled'%></b></span>
        </div>
        <div>
            To enable or disable the Financial Reporting & Management Module of AMP, please contact <a href="mailto:support@theamp.com">support@theamp.com</a>
        </div>
    </div>
    <div class="clearfloat">
    </div>
    <div class="col1P" id="select_id">
        <div class="margin10LR">
            <span class=" TxtBold">Enable Financial Reports & Metrics Module </span>
			<%= client_form.select :monthly_financial_closing_day,(1..28).collect{|u|["#{u}", u]} %>
            <span class=" TxtBold">day of the month </span>
        </div>
        <div>
            This date will be used by AMP to determine values for financials Displayed. Eg: YTD values for the last month will be updated after the date mentioned in this setting
        </div>
    </div>
    <div class="clearfloat">
    </div>
    <div id ="cal_submit" class="col1P ">
        <div align="center">
            <%#= client_form.submit "save", :class=>"button"%>
						 <a href="javascript:void(0)" onclick="jQuery('.edit_client').submit();" class="button blue">SUBMIT</a>
        </div>
    </div>
</div>
<% end %>

<script type="text/javascript">
jQuery(document).ready(function()
{
data_present_yes = (jQuery('#financial_data').html().indexOf('Financial Disabled') !== -1 );
if (data_present_yes)
{jQuery('#select_id').hide();
jQuery('#cal_submit').hide();
}
});
<%if (params[:action].eql?('update'))%>
	//flash_writter("<%=FLASH_MESSAGES['properties']['406']%>");
	flash_writter();
	function flash_writter(){
		jQuery('#success_msg').html("<%=FLASH_MESSAGES['client_admin']['115']%>");
		jQuery('#msg_writter').css('background',"url('/images/loader_bg.png')");
		jQuery('#msg_writter').show();
		jQuery('#msg_writter').fadeOut(10000);
		msg_t = setTimeout('flash_completer();', 5000);
}
function flash_completer() { jQuery('#msg_writter').fadeOut(5000);}
<%end%>

</script>
