<table align="left" cellpadding="2" cellspacing="4" border="0" width="400px">
  
	  <tbody>
     <tr>
      <td align="right" width="11%">Folder Name :<span class="txtRed"> </td>
      <td width="5%"></td>
      <td width="10%"><input type="text" value=<%=@folder_update.first.folder_name%>></td>
    </tr>
  </tbody>
  
	
   <tbody>
     <tr>
      <td align="right" width="11%">Description :<span class="txtRed"> </td>
      <td width="5%"></td>
      <td width="10%"><input type="text" value=<%=@folder_update.first.description%>></td>
    </tr>
  </tbody>
  
 
 
 
  
 <tbody>
    <tr>
      <td align="right"></td>
      <td ></td>
      <td></td>
      <td align="right"></td>
      <td ></td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td align="right"></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
 </table>
</div>
   




<p>
    <span>Select Users</span>
</p>
<div class="fltLeft marginZero">
    You have Selected <span id="user_count" class="TxtBold">0</span>
    of <span class="TxtBold"><%=@users.count %></span>
    Users
</div>
<div class="fltrt maginR20">
    <label>
        <input type="checkbox" id="select_all_user" class="valign" style="vertical-align:inherit;"/>Select All
    </label>
</div>
<div class="clear">
</div>
<div class="whtBox overflow130">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <% if  @users.present? %>
        <% @users.each_with_index do |user,i| %>
        <%if i%5==0 %>
        <tbody>
            <tr>
                <%end %>
                <td>
                    <label>
                        <%=check_box_tag "user[#{i}]", "#{user.id}",false,:class=>"user_select valign", :style=>"vertical-align:inherit;" %><%=user.name %>
                    </label>
                </td>
                <%if i%5==4 %>
            </tr>
        </tbody>
        <%end %>
        <%end %>
        <% else %>
		<div style="margin-left:300px;margin-top:50px;"><%= FLASH_MESSAGES['client_admin']['103'] %></div>
        <% end %>
    </table>
   
</div>
 


<div class="clearfloat"></div>

<%url = "/client_admin/templates/add_new_folder_template"%>

<div class="" align="center"><a href="javascript:void(0)" class="button blue" onclick="validate_template_submit('folder2_submit');">Save</a>
  <span>&nbsp;</span><a href="<%=url%>" class="button grey">CANCEL</a></div>

<script>
    jQuery("#select_all_user").click(function(){
        jQuery(".user_select").each( function() {
            if (jQuery("#select_all_user").is(':checked')==true)
            {
                jQuery(this).attr("checked","checked");
            }
            else
            {
                jQuery(this).attr("checked",false);
            }
            jQuery("#user_count").text(jQuery('.user_select:checked').size());
        });
    });


    jQuery(".user_select").click( function() {
        jQuery("#user_count").text(jQuery('.user_select:checked').size());
        if (jQuery(this).is(':checked')==false)
        {
            jQuery("#select_all_user").attr("checked",false);
        }
        else if(jQuery('.user_select:checked').size()=="<%=@users.count%>")
        {
            jQuery("#select_all_user").attr("checked","checked");
        }
    });



</script>

