Hi <%= @seller.name %>,<br/><br/>

<%= @user.name %> requests due diligence for the property <%= @note.property_name %> <br/><br />

Click the link below to see the details of <%= @user.name %> and confirm or deny the request:
<a href="<%= @url %>"><%= @url %></a><br/><br/>

If the link does not work, copy paste it in your browser

- AMP Team
