<%user_collection = @user%>
<% disply = flash[:error].nil? && !flash[:notice].nil? ?  flash[:notice] : ''  %>
	<h2> Set Password</h2>
	<h3>Please Enter a New Password and Confirm it</h3>
		<%= form_for :user, :url => {:controller=>controller.controller_name,:action => 'set_password',:id=>user_collection.id },:html=>{:id=>"#{user_collection.id}",:multipart => true} do |f| %>
	<div class="loginForm">
		 	<div class="label">Email ID:</div> <div class="inputBox"><%= user_collection.email %></div>
			<div class="clearfix"></div>
	 	<div class="label">Name*</div>
		<% namerr = error_message_on :user, :name %>
					<% classname =  !namerr.nil? ? 'input' : 'inputError' %>
                <div class="inputBox">	<%= f.text_field :name, :class =>"#{classname}"%></div>
                 <% if !namerr.nil? %><div class="errormessage"><%=namerr %></div><% end %>
                <div class="clearfix"></div>

                <div class="label">Job Title*</div>
									<% designationerr = error_message_on :user, :designation %>
					<% designation_classname =  !designationerr.nil? ? 'input' : 'inputError' %>
                <div class="inputBox">		<%= f.text_field :designation, :class =>"#{designation_classname}"%></div>
								 <% if  !designationerr.nil? %><div class="errormessage"><%=designationerr %></div><% end %>
               <!--<div class="errormessage">Error Message will come here</div>-->
                <div class="clearfix"></div>
								
								   <div class="label">Phone Number* <br />(Please enter only numbers, no hyphens.)</div>
									<% perr = error_message_on :user, :phone_number %>
					<% pclassname =  !perr.nil? ? 'input' : 'inputError' %>
                <div class="inputBox">		<%= f.text_field :phone_number, :class =>"#{pclassname}"%></div>
								 <% if  !perr.nil? %><div class="errormessage"><%=perr %></div><% end %>
               <!--<div class="errormessage">Error Message will come here</div>-->
                <div class="clearfix"></div>
								
																   <div class="label">Upload Your Profile Image</div>
							<%= f.fields_for :portfolio_image,@portfolio_image do |p| %>
                <div class="inputBox"><%= p.file_field :uploaded_data,:size =>24%></div>
								 <% if  @user.errors["profile_image"].present?  %><div class="errormessage"><%=@user.errors["profile_image"]%></div><% end %>
								 					<% end %>

               <!--<div class="errormessage">Error Message will come here</div>-->
                <div class="clearfix"></div>
								
								 <div class="label">Password*</div>
									<% pwderr = error_message_on :user, :password ,:prepend_text => "Password  " %>
					<% classname = !pwderr.nil? ? 'input' : 'inputError' %>
                <div class="inputBox">									<%= f.password_field :password, :class=>"#{classname}" %></div>
								 <% if  !pwderr.nil? %><div class="errormessage"><%=pwderr %></div><% end %>
               <!--<div class="errormessage">Error Message will come here</div>-->
                <div class="clearfix"></div>
								
																 <div class="label">Password Confirmation*</div>
									<% pwdconferr = error_message_on :user, :password_confirmation  ,:prepend_text => "Password Confirmation  " %>
					<% classname = !pwdconferr.nil? ? 'input' : 'inputError' %>
                <div class="inputBox">	<%= f.password_field :password_confirmation, :class=>"#{classname}" %></div>
								 <% if  !pwdconferr.nil? %><div class="errormessage"><%=pwdconferr %></div><% end %>
               <!--<div class="errormessage">Error Message will come here</div>-->
							                 <div class="clearfix"></div>

                  <div class="label">&nbsp;</div>
                <div class="inputBox">By clicking the '<strong>Set Password</strong>' below, you are agreeing to the<br /> <a href="http://localhost:3000/privacy">Privacy Policy</a> and <a href="http://localhost:3000/terms-of-use/">Terms of Use</a> for AMP</div>

<div class="clearfix"></div>
<div class="label">&nbsp;</div>


                <div class="inputBox">
		<div class="left"><!--<a class="button orange alignleft" href="#">Log In</a>--><!--<input type="image" class="setpasswordbutton" name="imageField" src="/images/setpasswordbtn.jpg" />-->
		<%= submit_tag 'Set Password',:class => "button alignleft" %>
		</div>
                </div>
                <div class="clearfix"></div>
            </div>
	<% end %>