<% pdf_collection = @pdf
pdf_conv_path = pdf_collection.blank? ? '' : Rails.root.to_s+'/public'
commercial_leases = @commercial_leases
comm_leases_count = @comm_leases_count
%>
<% @total_renewal_sf_sum = 0%>
<% @total_new_leases_sf_sum = 0%>
<% @total_pipeline = 0%>
<% @total_approvals = 0%>

<%if comm_leases_count >= 7%>
<script>
window.onload= function() {
var multibox_id=document.getElementById("check_multibox_area");
multibox_id.style.overflowY="scroll";
jQuery('.exp').attr('style','width:114px');
}
</script>
<%end%>
<%if comm_leases_count >= 7 %>
<div id="check_multibox_area" class="multboxarea" style="height: 363px; overflow: hidden; width:100%" onmouseover="jQuery('.multboxarea').css('overflow-y','scroll'); jQuery('.multrow1, .multrow2').css('width','100%');jQuery('.exp').attr('style','width:114px');" onmouseout="jQuery('.multboxarea').css('overflow-y','hidden'); jQuery('.multrow1, .multrow2').css('width','100%');jQuery('.exp').attr('style','width:131px');">
	<%else%>
	<div id="check_multibox_area" class="multboxarea" style="height: 363px; overflow: hidden; width:100%">
		<%end%>
		<% comm_array,property_total_units,vacancy_total_units,comm_tenant_total,total_expiration = commercial_lease_display(commercial_leases)%>
		<% find_total_for_leasing_activity(comm_array)%> <!-- total display start-->
		<%total_renewal_sf_sum= @total_renewal_sf_sum%>
		<%total_new_leases_sf_sum= @total_new_leases_sf_sum%>
		<%total_pipeline = @total_pipeline%>
		<%total_approvals = @total_approvals%>
		
		
		<table cellspacing="0" cellpadding="6" border="0" width="100%" style="table-layout: fixed; position: relative;float:left;" class="tablefb font12">
			<tbody>
				<tr class="tableppTotal">
					<td align="center" style="height:45px;" class="bdr-lt-gry bdr-rt-gry  td35">
					<div class="multtotal">
						Total
					</div></td>
					<td class="bdr-rt-gry" style="width: 150px;">
					<div class="multtotal2">
						<%= property_total_units.eql?(0) ? "0 SF" : display_sqrt_real_estate_overview(property_total_units)%>
					</div></td>
					<td align="center" valign="top" class="bdr-rt-gry" style="width: 99px;height: 45px;"> <% vacancy_total_percent = property_total_units == 0 ? 0 : vacancy_total_units/property_total_units*100%>
					<div class="value-bar-outerSml fltlft">
						<div class="value-barSml">
							<span class="fltrt"> <%= bar_percentage_dashboard(vacancy_total_percent)%> </span>
							<img src="/images/vacancygrbg.png" height="14" align="left"  style="width:<%= bar_percentage_dashboard(vacancy_total_percent,'true')%>;"/>
						</div>
						<div class="value-bar-secondlevel">
							<%= vacancy_total_units.eql?(0) ? "0 SF" : display_sqrt_real_estate_overview(vacancy_total_units)%>
						</div>
					</div></td>
					<td align="right" class="bdr-rt-gry" style="width: 106px;">
					<div class="">
						<%= display_sqrt_real_estate_overview(total_renewal_sf_sum.present? ? total_renewal_sf_sum : 0)%>  <%#=dashboard_currency_display(op_rev_total_units,'false')%>
						<br />
					</div></td>
					<td align="right" style="width: 105px;" class="bdr-rt-gry" >
					<div class="">
						<%=display_sqrt_real_estate_overview(total_new_leases_sf_sum.present? ? total_new_leases_sf_sum : 0)%>  <%#=dashboard_currency_display(noi_total_units,'false')%>
						<br />
					</div></td>
					<td align="right" class="bdr-rt-gry" style="width: 105px;">
					<div class="">
						<%=display_sqrt_real_estate_overview(total_pipeline.present? ? total_pipeline : 0)%> <%#=dashboard_currency_display(cash_total_units,'false')%>
						<br />
					</div></td>
					<td align="center" class="bdr-rt-gry" style="width: 89px;">
					<div class="">
						<%=display_sqrt_real_estate_overview(total_approvals.present? ? total_approvals : 0)%> <%#=dashboard_currency_display(comm_tenant_total)%>
					</div></td>
					<td align="center" class="bdr-rt-gry exp" style="width: 131px;">
					<div class="">
						<%=display_sqrt_real_estate_overview(total_expiration)%>
					</div></td>
				</tr>
			</tbody>
		</table>
		<!--total display end-->
		<%comm_array.each_with_index{|i,index|%>
		<%unless i.comm_property.nil?%>
		<%# portfolio_lease_details(i.comm_property.id)%>
		<%#leases_collection = @leases%>
		<table cellspacing="0" cellpadding="6" border="0" width="100%" style="table-layout: fixed;" class="tablefb font12">
			<tbody>
				<tr class="<%=cycle('tablefbAlternate', '') %>">
					<td align="center" class="bdr-lt-gry bdr-rt-gry <%if comm_array.last == i%>bdr-bottom-gry<%end%> bdr-TD-gry" style="width: 35px;"> <%= index+1%> </td>
					<td style="width: 150px;" class="bdr-rt-gry <%if comm_array.last == i%>bdr-bottom-gry<%end%> bdr-TD-gry"><a class="TxtBold" href="#"> <a href="/dashboard/<%= i.comm_property.portfolio_id%>/financial_info/<%= i.comm_property.id%>/financial_info" class="imgPLM">					
					<%property = i.comm_property%>
				  <%if property.portfolio_image%><%image = PortfolioImage.find_by_id(property.portfolio_image.id)%><%else%><%image =nil%><%end%>
				  <%image_src = (image!=nil) ? image.public_filename : "/images/real_portfolio_img5.jpg"%>
					<img src="<%= image_src%>"  border="0" width="42" height="26" alt="no image"></a>
					<a href="/dashboard/<%= i.comm_property.portfolio_id%>/financial_info/<%= i.comm_property.id%>/financial_info" title="<%= i.comm_property.property_name%>" class="TxtBold"> <%= display_truncated_chars(i.comm_property.property_name,15,true)%></a> </a>
					<br>
					<%= display_sqrt_real_estate_overview(i.real_prop)%> </td>
					<td align="center" valign="top" style="width: 99px;" class="bdr-rt-gry <%if comm_array.last == i%>bdr-bottom-gry<%end%> bdr-TD-gry">
					<div class="value-bar-outerSml fltlft">
						<div class="value-barSml">
							<span class="fltrt"> <%= bar_percentage_dashboard(i.leases[:current_vacant_percent][:actual])%> </span>
							<img src="/images/vacancygrbg.png" height="14" align="left"  style="width:<%= bar_percentage_dashboard(i.leases[:current_vacant_percent][:actual],'true')%>;"/>
						</div>
						<div class="value-bar-secondlevel">
							<%#lease_actual = dashboard_currency_display(leases[:current_vacant][:actual])%>
							<%= dashboard_currency_display(i.lease_actual) == "0" ? "0" : dashboard_currency_display(i.lease_actual)%>
						</div>
					</div></td>
					<%#income_title = map_title("Operating Revenue")%>
					<%#revenue = i.operating_statement[income_title]%>
					<%@total_renewal_sf,@total_new_leases_sf,@total_renewal_bud,@total_new_leases_bud = 0,0,0,0%>
					<% calculations_properties(i.comm_property)%>
					
					<%total_renewal_sf= @total_renewal_sf%>
		      <%total_renewal_bud = @total_renewal_bud%>
		      <%total_new_leases_sf = @total_new_leases_sf%>
		      <%total_new_leases_bud = @total_new_leases_bud%>

					<% renewal = total_renewal_sf.present? ? total_renewal_sf: 0%>
					<% budget = total_renewal_bud.present? ? total_renewal_bud: 0%>

					<% vari = form_hash_of_data_for_occupancy(renewal,budget)%>
					<%# use_color = income_color(renewal, budget) %><% use_color = (renewal >= budget) ? "above" : "below"%> <td align="right" style="width: 106px;" class="bdr-rt-gry <%if comm_array.last == i%>bdr-bottom-gry<%end%> bdr-TD-gry"> <%= value= total_renewal_sf.present? ? total_renewal_sf: 0%> SF

					<% total_renewal_sf_sum += value%>
					<br />
					<span class="<%= use_color%>"><%= display_currency_real_estate_overview_for_percent(vari.present? ? vari[:percent] : 0)%>, <%= display_sqrt_real_estate_overview(vari.present? ? vari[:variant] : 0)%></span></td>
					<%#new_renewal = i.leases.present? && i.leases[:new_leases].present?  ? i.leases[:new_leases][:actual].to_f : 0%>
					<%#new_budget = i.leases.present? && i.leases[:new_leases].present? ? i.leases[:new_leases][:budget].to_f : 0%>
					<%new_renewal = total_new_leases_sf.present? ? total_new_leases_sf: 0%>
					<% new_budget = total_new_leases_bud.present? ? total_new_leases_bud: 0%> <td align="right" class="bdr-rt-gry <%if comm_array.last == i%>bdr-bottom-gry<%end%> bdr-TD-gry" style="width: 105px;"> <% vari = form_hash_of_data_for_occupancy(new_renewal, new_budget)%>
					<% use_color = (new_renewal >= new_budget) ? "above" : "below"%>
					<%= value1= display_sqrt_real_estate_overview(total_new_leases_sf.present? ? total_new_leases_sf : 0)%>
					<%#=display_sqrt_real_estate_overview(total_new_leases_sf.present? ? total_new_leases_sf : 0)%>
					<%total_new_leases_sf_sum += value1.gsub("SF","").gsub(',','').to_i%>
					<br />
					<span class="<%= use_color%>"><%= display_currency_real_estate_overview_for_percent(vari.present? ? vari[:percent] : 0)%>, <%= display_sqrt_real_estate_overview(vari.present? ? vari[:variant] : 0)%></span></td>
					<td align="right" style="width: 105px;" class="bdr-rt-gry <%if comm_array.last == i%>bdr-bottom-gry<%end%> bdr-TD-gry"> <% interested_and_negotiated_leases(i.comm_property.id,nil,nil)%>
					<% find_active_prospects(@property_lease_suites_interested,i.comm_property.id)%>
					<%prospect_sqft = @prospect_sqft%>
					<%= prospect_sqft%>
					<% value3 = prospect_sqft.present? ? prospect_sqft.gsub("SF","").gsub(',','').to_i : 0%>
					<% total_pipeline += value3%> </td>
					<td align="center" style="width: 89px;" class="bdr-rt-gry <%if comm_array.last == i%>bdr-bottom-gry<%end%> bdr-TD-gry"> <%#=dashboard_currency_display(i.total_tenant)%>
					<%find_pending_approval(@property_lease_suites_negotiated,i.comm_property.id)%>
					<%pending_sqft = @pending_sqft%>
					<%= pending_sqft%>
					<% value4 = pending_sqft.present? ? pending_sqft.gsub("SF","").gsub(',','').to_i : 0%>
					<% total_approvals += value4%> </td>
					<td align="center" style="width: 131px;" class="bdr-rt-gry <%if comm_array.last == i%>bdr-bottom-gry<%end%> bdr-TD-gry exp"> <%= dashboard_currency_display(i.exp_val)%> </td>
				</tr>
			</tbody>
		</table>
		<%end%>
		<%}%>
