<script>
  revoke = 0;
  load_completer();
	new_collaborators = [];
	deleted_already_added_users = [];
  cur_email = '<%= current_user.email %>'
  added_users = '<%=mem_list%>';
  if(file != true && folder != true)
	 {
	   owner = "";
  	}
		else
		{
			owner = "";
		}

jQuery(document).ready(function() {
	user_email_str="<%=get_emails_of_all_users_for_autocomplete%>";
	user_emails=user_email_str.split("&lt;$&gt;");
	jQuery("#collaborator_list").autocomplete(
	{
      width: 350,
      delimiter: /(,)\s*/,
      lookup: user_emails
	});
});
</script>
<div class="lightbox_container2" style="<%if params[:add_contacts] == "true"%> padding-left:5px;<%end%>">
  <div class="lightbox_threshold">
    <div class="lightbox_headerow">
      <div class="headerow_coll1">
 			<%if(folder_collection && folder_collection.parent_id == 0 && !folder_collection.is_master && folder_collection.name !='my_files' && params[:folder_revoke] == 'true')%>
		 	   		<img width="18" height="17" src="/images/asset_manager_icon.png"/>
			<%else%>
  	   		<img width="18" height="17" src="/images/add_collabaraters_icon.png"/>
	 		<%end%>
			<%= ((folder_collection && folder_collection.parent_id == 0 && !folder_collection.is_master && folder_collection.name !='my_files' && params[:folder_revoke] == 'true') || (params[:add_contacts] == 'true')) ?   (params[:add_contacts] == 'true' ? "Add / Edit  '#{folder_collection.real_estate_property.property_name.titleize}' Users" :  "Add / Edit Property Users")  : "Add / Edit Collaborators"%>
			<span  id='add_contact_step_property' style='font-size:12px;'></span>
			</div>
    </div>
		<%=hidden_field_tag :deleted_users,params[:deleting_user].nil? ? "" : params[:deleting_user]%>
		<%=hidden_field_tag :from_assign_task,params[:from_assign_task]%>
    <%=hidden_field_tag :show_past_shared,params[:show_past_shared]%>
		<%=hidden_field_tag :parent_delete,params[:parent_delete]%>
		<%=hidden_field_tag :del_files,params[:del_files]%>
  	<%=hidden_field_tag :add_contacts,params[:add_contacts].nil? ? "" : params[:add_contacts]%>
  	<%=hidden_field_tag :from_dash_board,params[:from_dash_board].nil? ? "" : params[:from_dash_board]%>
		      <input type="hidden" name="from_debt_summary" value = <%=params[:from_debt_summary]%> />
      <input type="hidden" name="from_property_details" value = <%=params[:from_property_details]%> />
      <input type="hidden" name="highlight" value = <%=params[:highlight]%> />
      <input type="hidden" name="pid" value = <%=params[:id]%> > </input>
      <input type="hidden" name="note_add_edit" value = "true" > </input>
      <input type="hidden" name="edit_inside_asset" value = <%=params[:edit_inside_asset]%> />
      <%if property_collection && !property_collection.id.nil?%>
        <input type="hidden" name="property_id" value = <%=property_collection.id%> > </input>
      <%end%>
      <input type="hidden" id = "tab_id" name="tab_id" value ="5" />
      <input type="hidden" id = "form_txt" name="form_txt" value ="users" />
    <div class="collab_lightbox_contentrow">
      <div class="add_users_contentrow">
        <div class="add_users_headercol">Invite <%=(folder_collection && folder_collection.parent_id == 0 && !folder_collection.is_master && folder_collection.name !='my_files' && params[:folder_revoke] == 'true') ? "Property Users" : "Collaborators" %> to this <% if params[:is_property_folder] == 'true' %>property<% else %><%=params[:folder_revoke] == 'true' ? 'folder' : (params[:from_task_add_collab] == 'true' ? 'task' : 'file') %><% end %>.</div>
        <div class="add_users_fieldrow">
          <input type="text" value="Enter email addresses here" style="color:gray;" onclick="if(this.value == 'Enter email addresses here'){this.value = '';this.style.color='black';}" onblur="if(/\S/.test(this.value) == false){this.value = 'Enter email addresses here';this.style.color='gray';}" class="add_users_fieldinput" name="collaborator_list"  id="collaborator_list"/>
         </div>
				 <% if (folder_collection && folder_collection.parent_id == 0 && !folder_collection.is_master && folder_collection.name !='my_files') %>
					<div class="addpropertyrow" style="margin-top: 6px;"><a href="javascript:;" onclick='jQuery("#errmsg").empty();add_collaborators_list_for_property("<%=check_is_property_user ? 'true' : 'false'%>");return false'><img border="0" width="16" height="16" src="/images/add.png" />Add </a>
				 <% else %>
					<div class="addpropertyrow" style="margin-top: 6px;"><a href="javascript:;" onclick='jQuery("#errmsg").empty();if(add_collab_list_if_parent_not_shared("<%=folder_collection.id%>")) {add_collaborators_list();return false;}'><img border="0" width="16" height="16" src="/images/add.png" />Add </a>
				 <% end %>
						 <span style="color: red; align: center;" id="errmsg"></span>
						</div>
        <div id="addpropertyrow_to" style="clear:left;padding:8px 0 0;">To</div>
        <div class="add_users_collaboraterow" id="file_collaborators_list">
					<%= raw(data)%>
        </div>
      </div>
    </div>
	<%display_msg =  params[:task_id] || params[:from_task_add_collab]=='true' ? 'display:none;' : 'display:block;'%>
    <div class="collab_lightbox_contentrow" style="<%=display_msg%>">
      <div class="add_users_contentrow bottompadding">
        <div class="add_users_headercol">Send a comment with your invitation<span class="graycolur">(optional)</span></div>
        <div class="add_users_fieldrow">
          <textarea style="height: 50px;" rows="3" cols="83" name="textarea"></textarea>
        </div>
        </div>
  </div>
  </div>
	<%=hidden_field_tag :notification_alert,1%>
  <div class="buttonwrapper2" id="save_cancel_button">
    <div id="save_button" class="greenbutton">
		<a href="javascript:;" onclick="<%if check_is_property_user%>property_folder=true;<%else%>property_folder=false;<%end%>if(restrict_empty_collaborators(property_folder)){load_writter();jQuery('#collaborator_list').val('');document.forms.upload_form7.submit();return false;}"><%if  params[:task_id] || params[:from_task_add_collab]=='true'%>Ok <%else%>Save<%end%></a><span>&nbsp;</span></div>
    <div id="cancel_button" class="graybutton"><a href="javascript:;" onclick='Control.Modal.close();return false;' style="cursor: pointer;" >Cancel</a><span>&nbsp;</span></div>
  </div>
<div class="bot"></div>
</div>
<%=hidden_field_tag :already_added_users,!params[:collaborators_list].nil? ? params[:collaborators_list] : ""%>




<script>

<%if params[:add_contacts] == 'true'%>
  jQuery('span#add_contact_step_property').html('- Step 2 of 2');
<%end%>

property_collaborators_arr = [];
parent_collaborators_arr = [];
property_collaborators = '<%= folder_collection.parent_id == 0 ? "" : find_property_folder_members(folder_collection).join(",") %>';
parent_collaborators = '<%= folder_collection.parent_id == 0 ? "" : find_parent_folder_members(folder_collection).join(",") %>';

property_collaborators_arr = property_collaborators.split(',');
parent_collaborators_arr = parent_collaborators.split(',');
diff_arr = property_collaborators_arr.diff(parent_collaborators_arr);

load_completer();
cur_email = '<%= current_user.email %>';
if(new_collaborators.length==0 && added_users=="")
  jQuery('#addpropertyrow_to').hide();
else
  jQuery('#addpropertyrow_to').show();
</script>

