<%user_collection = @user%>
<% content_for :title , "AMP-Set password" %>
<% disply = flash[:error].nil? && !flash[:notice].nil? ?  flash[:notice] : ''  %>
 <div class="loginwrapperrow" style="height: 290px;">
      <div class="forgetheaderrow">
       Set Password
      </div>
      <div class="signupfieldrow">
        <div class="forgotfiledlabel">Please enter a new password and confirm it.</div>
				<div class="signuperrormessage" style="width: 400px;color: green;"><%= disply %></div>
    </div>
		<%= form_for :user, :url => {:controller=>controller.controller_name,:action => 'set_password',:id=>user_collection.id },:html=>{:id=>"#{user_collection.id}"} do |f| %>
				<div class="loginfieldrow">	
					<div class="loginfieldlabel" style="margin-top: 15px;">Email:</div>
					<div class="loginfieldinput"><%= user_collection.email %></div>
					<div class="loginfieldlabel" style="margin-top: 15px;">Password:</div>
					<% pwderr = error_message_on :user, :password %>
					<% classname = (pwderr.nil? || pwderr.blank? && (flash[:error] != "Password can't be blank")) ? 'signinputbox' : 'signinputboxerror' %>
					<div class="loginfieldinput"><%= f.password_field :password, :class=>"#{classname}" %></div>
					<div class="errormessage"><%= (pwderr.nil? || pwderr.blank?) ? ((flash[:error] == "Password can't be blank") ? flash[:error] : '&nbsp;') : pwderr %></div>
					<% pwdconferr = error_message_on :user, :password_confirmation %>
					<% classname = (pwdconferr.nil? || pwdconferr.blank? && (flash[:error] != "Password confirmation can't be blank")) ? 'signinputbox' : 'signinputboxerror' %>
					<div class="loginfieldlabel" style="margin-top: 15px;">Password Confirmation:</div>
					<div class="loginfieldinput"> <%= f.password_field :password_confirmation, :class=>"#{classname}" %></div>
					<div class="errormessage"><%= (pwdconferr.nil? || pwdconferr.blank?) ? ((flash[:error] == "Password confirmation can't be blank") ? flash[:error] : '&nbsp;') : pwdconferr %></div>
					<%= hidden_field_tag :code, params[:code] %>
					<label>
						<div class="loginbut"><%= submit_tag 'Set Password' %></div>
					</label>
			</div>
		<% end %>
  </div>