<div class="loginwrapperrow">
    <%= form_tag({:controller => "shared_users",:action => "create" },{:method =>:post}) do%>
    <div class="loginlhs">
        <div class="loginheaderow">Log into theamp.<span class="comcol">com</span></div>
        <div class="errormessage" style="color: green; width: 350px;"><%= flash[:notice]%></div>
        <div class="loginfieldrow">
            <div class="loginfieldlabel">Email Address</div>
            <% classname = flash[:error].nil? ? 'inputbox' : 'inputboxerror' %>
            <div class="loginfieldinput">   <label><%= text_field_tag 'email', @email, :size=>"35",:class=>"#{classname}" %></label>    </div>
            <div class="errormessage"><%=flash[:error].nil? ? '&nbsp;' : flash[:error] %></div>
            <div class="loginfieldlabel">Password</div>
            <div class="loginfieldinput">
                <%= password_field_tag 'password', nil, :size=>"35",:class=>"#{classname}"%>
            </div>
            <div class="errormessage">&nbsp;</div>
        </div>

        <div class="rememberrow"><%= check_box_tag 'remember_me', '1', @remember_me, :id=>"rememberme", :class=>"checkbox" %>Remember me on this computer</div>

        <div class="loginbut">
            <input type="submit" name="Submit" value="Login" class="loginbutton" />
        </div>
    </div>
    <% end %>

    <div class="loginrhs">
        <div class="loginrhsrow">
            <div class="loginrhscol1">Don&rsquo;t have an account?</div>
            <div class="loginrhscol2"><a href="<%=signup_path%>">Apply for an account now</a></div>
            <div class="loginrhscol1">Did you forget your password?</div>
            <div class="loginrhscol2"><%= link_to "Recover it here",forgot_password_path %></div>
        </div>
    </div>
</div>