<div class="adminbodyrapper">
	<div class="addserverbut"></div>
	<div class="listofownedbox">
		<div class="listheadingbox">
			<div class="listimgbox"><img border="0" width="13" height="12" src="/images/executivearrow.png">
			</div>
			<div class="listtextbox">
				Server Admin: 6 Step AMP Connection Guide
			</div>
		</div>
	</div>
	<%= form_for :db_setting,:url=>{:controller=>"admin/db_settings",:action=>"update",:id => @db_setting.id}, :html => {:method => :put} do |f| -%>
	<div class="adminsettingbody">
		<div class="adminsetbodytext">
			1. Select your Accounting System
		</div>
		<div class="adminsettingoption">
			<%= f.select(:accounting_system_type,['YARDI','MRI'])%>
		</div>
		<div class="adminsetbodytext">
			2. Please contact <span class="settingemail"><a href='mailto:praveeny@theamp.com'>praveeny@theamp.com</a></span> for instructions on how to configure your server environment.
		</div>
		<div class="adminsettingoption">
			<span class="settingemail">Instructions Document</span>
			<br>
			<span class="settingemail">Connector Code file</span>
		</div>
		<div class="adminsetbodytext">
			3. Enter your server URL + /Pages/iExtAdhoc.aspx below.
		</div>
		<div class="adminsettingoption">
			<%= f.text_field  :server_url %> <span style="color:red;font-size:12px;"><%= error_message_on :db_setting, :server_url %></span>
		</div>
		<div class="adminsettingoption">
			<div class="adminsetbodytext">
				4.Specify Properties that can be viewed on AMP.
			</div>
			<div class="adminsetbodytext">
				<% find_db_setting(params[:id])%>
				<% if @property_select == false%>
				<input type="radio" value="1" name="db_setting[property_select]" id="db_setting_property_select_1"  onclick="jQuery('#add_prop_code').hide();">
				<%else%>
				<input type="radio" value="1" name="db_setting[property_select]" id="db_setting_property_select_1" checked="true" onclick="jQuery('#add_prop_code').hide();">
				<%end%>All Properties
			</div>
			<%if @add_property == "Enter Property Codes here"%>
			<div class="adminsetbodytext">
				<input type="radio" value="2" name="db_setting[property_select]" id="db_setting_property_select_2" onclick="jQuery('#add_prop_code').show();">
				Selected Properties
			</div>
			<div id="add_prop_code" style="display:none;">
				<input name="db_setting[add_property]" type="text" value="Enter Property Codes here" style="color:gray;" onclick="this.value =''" onblur="if(/\S/.test(this.value) == false){this.value = 'Enter Property Codes here';this.style.color='gray';}"/>
			</div>
			<%else%>
			<div class="adminsetbodytext">
				<input type="radio" value="2" name="db_setting[property_select]" id="db_setting_property_select_2" checked= "true" onclick="jQuery('#add_prop_code').show();">
				Selected Properties
			</div>
			<div id="add_prop_code" style="display:block;">
				<input name="db_setting[add_property]" type="text" value="<%= @add_property %>" style="color:gray;" onclick="this.value = ''" onblur="if(/\S/.test(this.value) == false){this.value = 'Enter Property Codes here';this.style.color='gray';}"/>
			</div>
			<%end%>
		</div>
		<div class="adminsetbodytext">
			5. Click on Save
		</div>
		<div class="adminsettingoption">
			<div>
				<%= button_to :Save %><span>&nbsp;</span>
			</div>
		</div>
		<div class="adminsetbodytext">
			6. Email <span class="settingemail"><a href='mailto:praveeny@theamp.com'>praveeny@theamp.com</a></span> for confirmation that the setup is complete.
			<br>
		</div>
		<%if current_user && current_user.has_role?('Server Admin') %>
			<% find_db_setting_items(current_user.id)%>
			<div class="adminsetbodytext">
			The Client can add your properties by selecting the System Name as <span style="font-weight:bold;"><%= @server_name.blank? ? "" : current_user.company_name + '_' +@server_name %></span>
		</div>
		<%else%>		
		<%if @acc_sys_name%>
		<div class="adminsetbodytext">
			The Client can add your properties by selecting the System Name as <span style="font-weight:bold;"><%= @acc_sys_name %></span>
     		
			</div>
		<%end%>
		<%end%>
	</div>
	<%end %>
</div>
