<p id="notice"><%= notice %></p>

<p>
  <b>Template name:</b>
  <%= @template.template_name %>
</p>

<p>
  <b>Template:</b>
  <%= @template.template_id %>
</p>

<p>
  <b>Folder name:</b>
  <%= @template.folder_name %>
</p>

<p>
  <b>Propert type name:</b>
  <%= @template.propert_type_name %>
</p>

<p>
  <b>Client:</b>
  <%= @template.client_id %>
</p>

<p>
  <b>User:</b>
  <%= @template.user_id %>
</p>

<p>
  <b>Parent:</b>
  <%= @template.parent_id %>
</p>


