<div style="height: 110px;">
  <div class="headerow_coll1">
    <img width="18" height="17" src="/images/add_collabaraters_icon.png"/>Select options to proceed.
  </div>
  <br/><br/>
  <br/>
  <input type="radio" name="replace_option" value="replace">Replace</input>
  <input type="radio" name="replace_option" value="rename">Rename and skip</input>
  <input name="exist_doc" type="hidden" value="<%= exist_doc_id %>"/>
  <input name="new_doc" type="hidden" value="<%= new_doc_id %>"/>
  <input id="force_replace" type="hidden" value="exist_doc=<%= exist_doc_id %>&uploaded_new=<%= new_doc_id %>&port_id=<%= port_id %>&fol_id=<%= fol_id %>"/>
  <br/>
  <div style="margin-top: 18px;margin-left: 150px;">
    <div class="greenbutton" ><a onclick="replaceOrRenameDoc();" href="javascript:;">Proceed</a><span>&nbsp;</span></div>
  </div>
</div>


