<% content_for :title , "AMP-Change password" %>
<% disply = flash[:error].nil? && !flash[:notice].nil? ?  flash[:notice] : ''  %>
 <div class="loginwrapperrow" style="height: 290px;">
      <div class="forgetheaderrow">
       Change Password
      </div>
      <div class="signupfieldrow">
        <div class="forgotfiledlabel">Please enter a new password and confirm it.</div>
				<div class="signuperrormessage" style="width: 400px;color: green;"><%= disply %></div>
    </div>
		<%= form_for :user, :url => { :action => 'update_password' },:html=>{:id=>"change_password"} do |f| %>
				<div class="loginfieldrow">	
					<div class="loginfieldlabel">Password:</div>
					<% classname = flash[:error].nil? ? 'signinputbox' : 'signinputboxerror' %>
					<div class="loginfieldinput"><%= f.password_field :password, :class=>"#{classname}" %></div>
					<div class="errormessage"><%=flash[:error].nil? ? '&nbsp;' : flash[:error] %></div>
					<div class="loginfieldlabel">Password Confirmation:</div>
					<div class="loginfieldinput"> <%= f.password_field :password_confirmation, :class=>"#{classname}" %></div>
					<div class="errormessage">&nbsp;</div>
					<label>
						<%= submit_tag 'Change Password' %>
					</label>
			</div>
		<% end %>
  </div>