<%= form_for :user, :url => { :action => 'update_password' }, :remote=>true do |f| %>
<div class="loginfieldrow" style="width:445px;">
<% classname = flash[:error].nil? ? 'signinputbox' : 'signinputboxerror' %>
<table>
<tr><td>Password:</td><td><div class="loginfieldinput">Password Confirmation:</div></td></tr>
<tr><td><%= f.password_field :password, :class=>"#{classname}" %></td><td><div class="loginfieldinput"><%= f.password_field :password_confirmation, :class=>"#{classname}" %></div></td></tr>
</table>
<div class="errormessage" style="width:445px;" id="emsg"></br><%=flash[:error].nil? ? '&nbsp;' : flash[:error] %></div>
</br>
<label>
<%= submit_tag 'Change Password' %>
<input type="button" name="cancel" onclick="jQuery('#user_password').removeClass('signinputboxerror');jQuery('#user_password').addClass('signinputbox');jQuery('#user_password_confirmation').removeClass('signinputboxerror');jQuery('#user_password_confirmation').addClass('signinputbox');jQuery('#emsg').html('&nbsp;');jQuery('#change_password').hide();jQuery('#change_password_link').show();jQuery('#pass_text').show();return false;" value="cancel"/>
</label>
</div>
<% end %>