<script type="text/javascript">
    yield_calender('true');
</script>
<div class="fields">
    <div class="rentnamerow">
        <div class="rentform namefirst">
            <%if @pdf %>
            <span style="width:78px;line-height:20px; border: 1px solid #CCCCCC;  text-align: left; float:left;display:block; height:20px; text-indent:5px;"><%=f.object.suite_id == 0 ? 'All' : f.object.suite_id %></span>
            <%else %>
            <%#= f.text_field :suite_id ,:type=>"text", :class=>"rentselect other_revenue_sales", :title=>"hai",:style=>"width:80px;display:none;",:value => "All" %>
            <span style="width:78px;line-height:20px; text-align: center; float:left;display:block; height:20px; text-indent:5px;" title="All suites that are part of the lease are included for CPI Escalations">All</span>
            <%end %>
        </div>
        <div class="rentform">
            <%= f.text_field :annual_cpi_inc_estimate ,:type=>"text", :class=>"lstextfield", :style=>"width:80px",:precision => 2 %>
        </div>
        <div class="rentform">
            <%= f.select :adjustment_start_month , options_for_select( CpiDetails::MONTH_NAMES,f.object.adjustment_start_month),{:include_blank => true},html_options = {:style=>"width:78px"} %>
        </div>
        <div class="rentform" style="width:78px;">
            12<%#= f.select :adjustment_frequency, options_for_select( CpiDetails::RENT_CPI_TYPE,f.object.adjustment_frequency),{},html_options = { :style=>"width:78px;"} %>
        </div>
        <div class="rentform">
            <%= f.text_field :index_used ,:type=>"text", :class=>"lstextfield", :style=>"width:78px" %>
        </div>
        <div class="rentform">
            <%= f.text_field :yearly_min ,:type=>"text", :class=>"lstextfield", :style=>"width:78px",:precision => 2 %>
        </div>
        <div class="rentform">
            <%= f.text_field :yearly_max ,:type=>"text", :class=>"lstextfield", :style=>"width:78px",:precision => 2 %>
        </div>
        <div class="rentform">
            <%= f.text_field :lease_max ,:type=>"text", :class=>"lstextfield", :style=>"width:81px",:precision => 2 %>
        </div>
    </div>
    <%= f.hidden_field :suite_id, :value => nil %>
</div>
