<!-- this line is added since Asset navigation is loaded with little padding onto its left -->
<style>
  ul {list-style-type :none;padding: 0px;margin:0px}
  li {list-style-type :none;padding: 0px;margin:0px}
</style>
<link href="/stylesheets/jcarousel.css" rel="stylesheet" type="text/css" />
<script src="http://maps.google.com/maps?file=api&amp;v=3&amp;key=<%= get_google_key %>" type="text/javascript"></script>
<script type="text/javascript" src="/javascripts/slideshow/jquery.slideViewerPro.1.0.js"></script>
<script type="text/javascript" src="/javascripts/slideshow/jquery.timers-1.2.js"></script>
<link href="/stylesheets/svwp_style.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/default_swf.css" rel="stylesheet" type="text/css" />
<%= javascript_include_tag "DatePicker/date" %>
<%= javascript_include_tag "DatePicker/jquery.datePicker-2.1.2" %>
<%= stylesheet_link_tag 'DatePicker/datePicker1' %>
<script type="text/javascript" src="/javascripts/swfupload.js"></script>
<script type="text/javascript" src="/javascripts/fileprogress.js"></script>
<script type="text/javascript" src="/javascripts/handlers.js"></script>
<script type="text/javascript" src="/javascripts/swfupload.queue.js"></script>
<script src="/javascripts/control.modal.js" type="text/javascript"></script>
<script type="text/javascript" src="/javascripts/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="/javascripts/highcharts_code.js"></script>
<script type="text/javascript" src="/javascripts/highchart_exec_summary.js"></script>
<script language="javascript" type="text/javascript" src="/javascripts/stacking_plan.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/stacking_plan.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/stacking_print.css" media="print" />
<%= stylesheet_link_tag "advance_due_v2"  %>
<script>jQuery.noConflict();</script>
<script type="text/javascript">
window.onunload = load_completer();
  jQuery(window).bind("load", function() {
    jQuery("div#basic").slideViewerPro();
  });
  term_option_count=1;
  rent_suite_count = 1;
  rent_sch_count = 1;
  rent_cpi_count = 1;
  rent_other_rev_count = 1;
  rent_per_count = 1;
  rent_parking_count = 1;
  rent_recovery_count = 1;
  var months = new Array();
  var crMonth = ''
  months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
  var active_sub_call = 'for_notes'; // this is to identify the sub cal from the performance review tab.
  var active_sub_params = {}; //
  var financial_sub = '' ;
  var financial_subid = '';
  var occupancy_type='';
  var active_port_partial = '';
  var arrlE= [];
  var lEelements  = [];
  var ocWresElements = [];
  var par_list = {'for_notes':'portfolio_partial', 'cash_n_receivables':'cash_and_receivables', 'cash_n_receivables_for_receivables':'cash_and_receivables_for_receivables', 'financial':'financial', 'lease':'leases', 'capital_expenditure':'capital_expenditure','rent_roll':'rent_roll','financial_subpage':'financial_subpage','lease_sub_tab':'lease_sub_tab','variances':'variances','balance_sheet':'balance_sheet','balance_sheet_sub_page':'balance_sheet_sub_page'}
  var active_period = '';
	quarter_end_month = '';
  var start_date_rent_pdf = '';
  var rent_roll_for_pdf= '';
<% @ytd_cal_flag = "true"%>

<%if Date.today.month == 1%>
   active_period = "5";
<%elsif @ytd_cal_flag == "true"%>
    active_period = "4";
<%else%>
    active_period = "4";
<%end%>
  var active_sub_month = ''; //new Date().getMonth(); set null becoz loading ytd and highlight call is wrote down

	<%if Date.today.month == 1%>
	  var active_sub_year = '<%=Date.today.prev_month.year%>';
		active_sub_month = '<%=Date.today.prev_month.month%>';
		cur_month = months[active_sub_month];
    cur_year = active_sub_year;
	<%else%>
   	var active_sub_year = new Date().getFullYear();
	<%end%>
  var month_arr = [12,1,2,3,4,5,6,7,8,9,10,11];
  var last_renderer = 'for_notes'; // this is to identify the last called of (sub_head or sub_graph)
  var  capital_sub_call=''; // this is for manking sub calls in cap_exp
  var  capital_sub_params = {};
  var  cash_sub_call = '';
  var  cash_find_id = '';
  var  for_time_period_setting= '';
  sub_tab=" ";
  var port_id = '<%= @portfolio.id %>'
  var swfu = true;
  reject_ajax = false;
  var parSqftCalc=""
  weekly_start_date=""
  function number_with_delimiter(number, delimiter) {
    number = number + '', delimiter = delimiter || ',';
    var split = number.split('.');
    split[0] = split[0].replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1' + delimiter);
    return split.join('.');
  }





  function load_swf(get_path,folder,user_id) {
    var settings = {
      flash_url : "/assets/swfupload.swf",
      upload_url: get_path,
      //post_params: {"authenticity_token" : "<%#= form_authenticity_token %>","flash_ups":"true","folder_id":folder,"_theamp2_session":'<%#= cookies['_theamp2_session'] %>'},
      post_params: {"authenticity_token" : "<%= form_authenticity_token %>","flash_ups":"true","folder_id":folder,"user_id":'<%= current_user.id %>',ref:'<%= request.env['HTTP_REFERER'] %>' <% if session[:wres_user] %><%= ', wres_user:true' %><%end%>},
      file_size_limit : "150 MB",
      //file_types : "*.jpg;*.png;*.jpeg;*.pdf;*.pot;*.pps;*.doc;*.dot;*.ppt;*.xla;*.xlc;*.xlm;*.xls;*.xlt;*.xlw;*.ai;*.ps;*.eps;*.bas;*.rtf;*.sxw;*.sxi;*.sxc;*.odt;*.ods;*.odp;*.xlsx;*.xltx;*.pptx;*.ppsx;*.potx;*.docx;*.dotx;*.bmp;*.txt;*.wav;*.mp3;*.mkv; *.avi; *.mpeg;*.mp4;*.3gp;*.vob;*.wmv;*.flv;*.swf;*.divx;*.tif;,*.tiff;*.zip",
      file_types : "*.*",
      file_types_description : "All Files",
      file_upload_limit : 100,
      file_queue_limit : 0,
      custom_settings : {
        progressTarget : "fsUploadProgress",
        cancelButtonId : "btnCancel"
      },
      debug: false,
      // Button settings
      button_image_url: "/images/TestImageNoText_65x29.png",
      button_width: "65",
      button_height: "29",
      button_placeholder_id: "spanButtonPlaceHolder",
      button_text: '<span class="theFont" style="padding: 3px 0 0 8px;">Browse</span>',
      button_text_style: ".theFont { font-size: 13px;color:black;  }",
      button_text_left_padding: 12,
      button_text_top_padding: 3,
      // The event handler functions are defined in handlers.js
      file_queued_handler : fileQueued,
      file_queue_error_handler : fileQueueError,
      upload_start_handler : uploadStart,
      upload_progress_handler : uploadProgress,
      upload_error_handler : uploadError,
      upload_success_handler : uploadSuccess,
      upload_complete_handler : uploadComplete,
      queue_complete_handler : queueComplete        // Queue plugin event
    };
    swfu = new SWFUpload(settings);
    reject_ajax = false;
  }
</script>
<script type="text/javascript">
 if(<%= !params[:partial_disp].nil? && params[:partial_disp] == 'data_hub' %>)
  var active_call="data_hub"
  else
    var active_call="performance_review"

  var status_set=<%=@status%>
<% val = (@notes.index(@note)).to_i + 1 %>
  jcarousel_start = <%= val%>
  jQuery(document).ready(function() {
    jQuery('#mycarousel').jcarousel({
      vertical: true,
      scroll: 4,
      visible: 4,
      animation: "medium",
      start: jcarousel_start
    });
    jQuery('#message').fadeOut(8000);
<%portfolio_id=@portfolio ? @portfolio.id : 0%>
    //show_performance_review(<%#=portfolio_id%>,selected_item)
  });

  if(<%= params[:id].nil? || @reset_selected_item %>)
  var selected_item = <%= @notes.length > 0 ? @notes.first.id : @portfolio.real_estate_properties.first.id %>;
  else
    var selected_item = <%= params[:id] %>;

  function active_title(val)
  {
    active_call = val;
    if (val=="rent_roll"){
     // document.getElementById('r_roll').className = "executivesubtab"
      document.getElementById("p_review").className = "deactivesubtab"
      document.getElementById("n_terms").className = "deactivesubtab"
      document.getElementById("p_view").className = "deactivesubtab"
      document.getElementById("d_hub").className = "deactivesubtab"
      document.getElementById("n_s_review").className = "deactivesubtab"
      //document.getElementById("d_pipe").className = "deactivesubtab"
      //document.getElementById("d_lease").className = "deactivesubtab"
      <%if is_commercial(@note)%>
      document.getElementById("lease_view").className = "deactivesubtab"
      <%end%>
    }
    if (val=="performance_review"){
      //  document.getElementById("r_roll").className = "deactivesubtab"
      document.getElementById("p_review").className = "executivesubtab"
      document.getElementById("n_terms").className = "deactivesubtab"
      document.getElementById("p_view").className = "deactivesubtab"
      document.getElementById("d_hub").className = "deactivesubtab"
      document.getElementById("n_s_review").className = "deactivesubtab"
      //document.getElementById("d_pipe").className = "deactivesubtab"
      //document.getElementById("d_lease").className = "deactivesubtab"
       <%if is_commercial(@note)%>
      document.getElementById("lease_view").className = "deactivesubtab"
      <%end%>
    }

    if(val=="note_terms"){
      //   document.getElementById("r_roll").className = "deactivesubtab"
      document.getElementById("p_review").className = "deactivesubtab"
      document.getElementById("n_terms").className = "executivesubtab"
      document.getElementById("p_view").className = "deactivesubtab"
      document.getElementById("d_hub").className = "deactivesubtab"
      document.getElementById("n_s_review").className = "deactivesubtab"
      //document.getElementById("d_pipe").className = "deactivesubtab"
     // document.getElementById("d_lease").className = "deactivesubtab"
      <%if is_commercial(@note)%>
     document.getElementById("lease_view").className = "deactivesubtab"
     <%end%>
    }

    if(val=="property_view"){
      //document.getElementById("r_roll").className = "deactivesubtab"
      document.getElementById("p_review").className = "deactivesubtab"
      document.getElementById("n_terms").className = "deactivesubtab"
      document.getElementById("d_hub").className = "deactivesubtab"
      document.getElementById("p_view").className = "executivesubtab"
      document.getElementById("n_s_review").className = "deactivesubtab"
      //document.getElementById("d_pipe").className = "deactivesubtab"
      //document.getElementById("d_lease").className = "deactivesubtab"
       <%if is_commercial(@note)%>
      document.getElementById("lease_view").className = "deactivesubtab"
      <%end%>
    }

    if(val=="data_hub"){
      //document.getElementById("r_roll").className = "deactivesubtab"
      document.getElementById("p_review").className = "deactivesubtab"
      document.getElementById("n_terms").className = "deactivesubtab"
      document.getElementById("p_view").className = "deactivesubtab"
      document.getElementById("d_hub").className = "executivesubtab"
      document.getElementById("n_s_review").className = "deactivesubtab"
      //document.getElementById("d_pipe").className = "deactivesubtab"
      //document.getElementById("d_lease").className = "deactivesubtab"
       <%if is_commercial(@note)%>
      document.getElementById("lease_view").className = "deactivesubtab"
      <%end%>
    }
    if(val=="property_settings"){
      //document.getElementById("r_roll").className = "deactivesubtab"
      document.getElementById("p_review").className = "deactivesubtab"
      document.getElementById("n_terms").className = "deactivesubtab"
      document.getElementById("p_view").className = "deactivesubtab"
      document.getElementById("d_hub").className = "deactivesubtab"
      document.getElementById("n_s_review").className = "executivesubtab"
     // document.getElementById("d_pipe").className = "deactivesubtab"
     // document.getElementById("d_lease").className = "deactivesubtab"
      <%if is_commercial(@note)%>
     document.getElementById("lease_view").className = "deactivesubtab"
     <%end%>
    }

     if(val=="lease_management" ||  val=="property_pipeline")
     {
      //document.getElementById("r_roll").className = "deactivesubtab"
      document.getElementById("p_review").className = "deactivesubtab"
      document.getElementById("n_terms").className = "deactivesubtab"
      document.getElementById("p_view").className = "deactivesubtab"
      document.getElementById("d_hub").className = "deactivesubtab"
      document.getElementById("n_s_review").className = "deactivesubtab"
    //  document.getElementById("d_pipe").className = "executivesubtab"
     // document.getElementById("d_lease").className = "deactivesubtab"
      <%if is_commercial(@note)%>
      document.getElementById("lease_view").className = "executivesubtab"
      <%end%>
    }
  }

	//moved function active_sub_title to lease_mgmt.js

   var sub_list = {"financial_subpage" : "financial", "lease_sub_tab" : "lease","balance_sheet_sub_page":"balance_sheet"}
  function performanceReviewCalls(act,params,lease_type,sqftCalc,rent_filter,strt_date)
  {
if(active_period == "4" && partial_page == 'variances')
 {
  <%if Date.today.month == 1%>
	  active_period = 5;
	<%end%>
	}

 if(active_period == "4"  || active_period == "3" || active_period == "8" || active_period == "6" || active_period == "2")
  {
	 active_sub_month = '';
	}

if(partial_page == "cash_and_receivables" || partial_page =="leases" || partial_page =="lease_sub_tab" || partial_page =="rent_roll_highlight" || partial_page =="cash_and_receivables_for_receivables" || partial_page == 'variances')
  {
    grossRent='undefined';
    noOfUnits='undefined';
  }

    lease_type = '<%= @note.leasing_type%>'
    for_time_period_setting = ''
    // Added for rent_roll filter -- starts
      params.rent_roll_filter=rent_filter;
      params.start_date_rent = strt_date; // For filters in month_ytd
      start_date_rent_pdf = strt_date;
      rent_roll_for_pdf= rent_filter;
    // -- ends--
    if (sqftCalc!=undefined)
      parSqftCalc=sqftCalc;

    if (sqftCalc=="per_sqft" || parSqftCalc=="per_sqft")
    {
      if (grossRent==true)
      {
        params.sqft_calc="per_sqft";
        grossRent='undefined';
      }

      else if (grossRent==false)
      {
        jQuery("#per_tot_sqft option:first").attr('selected','true');
        jQuery("#per_tot_sqft_popup").trigger('click');
        //~ grossRent='undefined';
        return false;
      }
    }
    else if (sqftCalc=="unit_calc" || parSqftCalc=="unit_calc")
    {
      if (noOfUnits==true)
      {
        params.unit_calc="unit_calc";
        noOfUnits='undefined';
      }
      else if (noOfUnits==false)
      {
        jQuery("#per_tot_sqft option:first").attr('selected','true');
        jQuery("#per_tot_unit_popup").trigger('click');
        //~ noOfUnits='undefined';
        return false;
      }
    }
    selected_class = jQuery('.activeimagecol').attr('class').split(' ');
    if(active_period == "9" && selected_class[0] == "sys_id_1"){
      params.tl_period = "4";
      params.tl_month = "";
      params.tl_year  = "";
    }
    else if(active_period == "9"){
     params.tl_period = "9";
      params.tl_month = "";
      params.tl_year  = "";
      params.start_date = weekly_start_date;
    }
    else{
    params.tl_period = active_period;
    params.tl_month = active_sub_month;
    params.tl_year  = active_sub_year;
    params.quarter_end_month = quarter_end_month;
    }
    var month = parseInt(params.tl_month,10) - 1
    if(params.tl_period == "7"){
      //cur_month = months[active_sub_month]//jQuery('div.active').children('div.label').children('div.label2').last().children().html();
      // cur_year = active_sub_year//jQuery('div.active').children('div.label').children('div.label2').last().children()[0].title;
      if(active_sub_month != ''){
        params.cur_month = months[parseInt(active_sub_month,10) - 1];
        crMonth = month;}
      else{
        params.cur_month = crMonth;
      }
      params.cur_year = active_sub_year;
    }
    // params.deactive_sub_call = active_sub_call; now this made by the script itself ..
    if (act=="financial_subpage" || act == "lease_sub_tab" || act == "balance_sheet_sub_page")
    {
      act_page = sub_list[act];
    }
    else
      act_page = act;
    if (active_sub_call=="financial_subpage" || active_sub_call == "lease_sub_tab" || active_sub_call =="balance_sheet_sub_page")
      deact_page = sub_list[active_sub_call];
    else
      deact_page = active_sub_call;
    enable_disable_tab(act_page,deact_page);//enable_disable_tab(act,active_sub_call);
    last_renderer = act
    active_sub_call = act;
    active_sub_params = params;
    new Ajax.Request('/performance_review_property/'+for_time_period_setting+act+'?id='+selected_item+'&portfolio_id='+port_id+'&partial_page='+partial_page ,{asynchronous:true,
      evalScripts:true,
      method: 'GET',
      parameters: params,
      onComplete:function(request){
        load_completer();
				if(new Date().getMonth() == 0 && (active_sub_month - 1) == 11)
			  	jQuery(".timelinelabel_wrapper .executivesubtabrow #lastMonth").attr('class','subtabactiverow');
        else if (parseInt(active_sub_month)==new Date().getMonth())
          jQuery(".timelinelabel_wrapper .executivesubtabrow #lastMonth").attr('class','subtabactiverow');
        else
          jQuery(".timelinelabel_wrapper .executivesubtabrow #lastMonth").attr('class','subtabdeactiverow');
        if (!(active_sub_month=='' && active_period==4))
          dynamic_month_change(active_sub_month);
      },
      onLoading:function(request){
        load_writter();
      }});
      if((deact_page == 'balance_sheet' && act_page != 'balance_sheet') || (deact_page == 'rent_roll' && act_page != 'rent_roll') || (deact_page == 'lease' && act_page != 'lease') || (deact_page == 'lease_sub_tab' && act_page != 'lease_sub_tab') || (deact_page == 'cash_n_receivables_for_receivables' && act_page != 'cash_n_receivables_for_receivables'))
      {
        jQuery('.executiverhsrow').show();
      }
  }



  function show_selected_note(n,sqftCalc,gross,unit,rent_filter,portfolio_id){
	  sqftCalc =jQuery('#per_tot_sqft').val();
<% @notes.each do |note| %>
      jQuery('#'+<%= note.id %>+'_li').removeClass('activeimagecol').addClass('deactiveimagecol');
      jQuery('#'+<%= note.id %>+'_li').addClass('sys_id_'+<%=note.accounting_system_type_id%>);
<% end %>
    if(gross != 0)
    {
      grossRent=true;
    }
  else if(partial_page != "cash_and_receivables" && partial_page !="leases" && partial_page !="lease_sub_tab" && partial_page !="rent_roll_highlight" && partial_page !="cash_and_receivables_for_receivables" && partial_page != 'variances')
	 {
       grossRent=false;
	 }
    else
		{
      grossRent='undefined';
		}
   if(unit != 0)
    {
      noOfUnits=true;
    }
 else if(partial_page != "cash_and_receivables" && partial_page !="leases" && partial_page !="lease_sub_tab" && partial_page !="rent_roll_highlight" && partial_page !="cash_and_receivables_for_receivables" && partial_page != 'variances')
 {
   noOfUnits=false;
  }
  else
  {
  	noOfUnits='undefined';
	}
   selected_item = n;
    jQuery('#'+n+'_li').removeClass('deactiveimagecol').addClass('activeimagecol');
    if (sqftCalc=="per_sqft")
    {
      if (grossRent==true)
      {
        grossRent='undefined';
      }

      else if (grossRent==false)
      {
        jQuery("#per_tot_sqft option:first").attr('selected','true');
				url = jQuery("#per_tot_sqft_popup").attr('href').split("/");
				url[2] = String(n);
				jQuery("#per_tot_sqft_popup").attr('href',url.join("/"))
				new Control.Modal($('per_tot_sqft_popup'), {beforeOpen: function(){load_writter();},afterOpen: function(){load_completer();},className:'modal_container', method:'get'});
				jQuery("#per_tot_sqft_popup").click();
        return false;
      }
    }
    else if (sqftCalc=="unit_calc")
    {
      if (noOfUnits==true)
      {
        noOfUnits='undefined';
      }
      else if (noOfUnits==false)
      {
        jQuery("#per_tot_sqft option:first").attr('selected','true');
				url = jQuery("#per_tot_unit_popup").attr('href').split("/")
				url[2] = String(n)
				jQuery("#per_tot_unit_popup").attr('href',url.join("/"))
				new Control.Modal($('per_tot_unit_popup'), {beforeOpen: function(){load_writter();},afterOpen: function(){load_completer();},className:'modal_container', method:'get'});
					jQuery("#per_tot_unit_popup").click();
        return false;
      }
    }
  if(call_performance_review == true)
 {
		set_call(active_call,portfolio_id,n,jQuery('#per_tot_rent_roll').val());
	}
  }

  function set_call(active,portfolio_id,note_id,rent_filter,portfolio_filter){
if (active=="rent_roll"){
      show_rent_rolls_real_estate(portfolio_id,note_id,partial_page)
    }
    if (active=="performance_review"){
      if (last_renderer == "cash_sub_view") // here the cash and receivable and the cap_exp sub view calls added
        cashSubCalls(cash_sub_call,cash_sub_params);
      else if(last_renderer == "capital")
        capitalSubCalls(capital_sub_call,capital_sub_params);
      else
        performanceReviewCalls(active_sub_call,active_sub_params,{},{},rent_filter);
      //show_performance_review_real_estate(portfolio_id,note_id,partial_page) will be removed shortly.
    }
    if (active=="note_terms"){
      show_loans(portfolio_id,note_id,partial_page)
    }
    if (active=="property_view"){
      show_property_view_real_estate(portfolio_id,note_id,partial_page,portfolio_filter)
    }
    if (active=="datahub"){
      show_data_hub_docs_real_estate(portfolio_id,note_id,'hide_del',{},{},portfolio_filter) // ?
      //show_datahub_image(portfolio_id,partial_page,note_id);
    }
    if (active=="property_settings"){
      //move_to_dispositions_real_estate(portfolio_id,note_id,partial_page)
      property_settings(portfolio_id,note_id,partial_page)
    }
    if (active=="property_lease"){
      property_lease(portfolio_id,note_id,partial_page)
    }
    if (active=="property_pipeline"){
      show_tabs(portfolio_id,note_id,'pipeline','property_pipeline',portfolio_filter)
    }
    if (active=="lease_management"){
      show_tabs(portfolio_id,note_id,'management','management')
    }
     if (active=="property_alert"){
      show_tabs(portfolio_id,note_id,'alert','property_alert')
    }
     if (active=="property_encumb"){
      show_tabs(portfolio_id,note_id,'encumbrance','property_encumb')
    }
     if (active=="property_rentroll"){
      show_tabs(portfolio_id,note_id,'rent_roll','property_rentroll')
    }
     if (active=="mgmt_terms"){
     show_tabs(portfolio_id,note_id,'terms','mgmt_terms')
    }
		if (active=="suites_form"){
      show_tabs(portfolio_id,note_id,'suites','suites_form',portfolio_filter)
    }
   if (active=="stacking_plan"){
      show_tabs(portfolio_id,note_id,'stacking_plan','stacking_plan',portfolio_filter)
    }

  }

  function get_status()
  {
    cn=document.getElementsByClassName("status")
    cn.length

    for(i=0;i<cn.length;i++)
    {
      status_set = (cn[i].checked == true)? cn[i].value :status_set;
    }
    return false;
  }

  function set_radio_call(active,portfolio_id,note_id){
    if (active=="rent_roll"){
      show_rent_rolls_real_estate(portfolio_id,note_id)
    }
    if (active=="performance_review"){
      show_performance_review(portfolio_id,note_id)
    }
  }

  function enable_disable_tab(cur_act, de_act){ // this stays...
    jQuery('a #' + cur_act).attr('className', 'selected');
  }

  function addSelectedItemToPortfolioUrl(element) {
    var url = new Array();
    url = jQuery("#"+element).attr('href').split("&");
    url[2]="last_selected_item="+selected_item;
    jQuery("#"+element).attr('href', url.join("&"));
    new Control.Modal($(element),{beforeOpen: function(){load_writter();},afterOpen: function(){load_completer();},className: 'modal_container', method: 'get'});
  }

  function show_note_terms(){
    show_terms();
  }
  if(<%= !@portfolio.nil? %>) {
    //document.getElementById('portfolio_breadcrumb').innerHTML = "<a href='<%= real_estate_path(@portfolio.id) %>' id='portfolio_<%= @portfolio.id%>'><span><%= @portfolio.name %></span></a>";
  }
<%if !flash[:notice].nil? && !flash[:notice].blank?%>
    flash_writter("<%= flash.now[:notice]%>");
<% end %>
  var current_selection = 1;
</script>
<script type="text/javascript">jQuery.noConflict();</script>
<%folder_det,month_details = find_folder_and_month_details%>
<div class="bodywrapperrow">
  <div class="contentwrapper">
				<% find_portfolio_fol_doc_task(@portfolio)%>
        <% if @notes.length > 0 %>
          <input type="hidden" id="note_id" name="note_id" value="<%= @notes.first.id %>" />
			<%end%>
    <div class="rhs leaseModule">
      <div id="overview">
				<div id="show_assets_list">
					<div id ="portfolio_dropbox_view">
						 <div class="" id = "lease_container">
						 <%= render :partial=> '/lease/property_pipeline',:locals=>{:portfolio_collection=>@portfolio,:note_collection=>@note} %>
						 </div>
					</div>
			</div>
      </div>
    </div>
</div>
</div>
<script type="text/javascript">
  function load_map11(address)
  {
    initialize(address);
  }

if(<%= !params[:partial_disp].nil? && params[:partial_disp] == 'property_settings' %>) {
    active_title('property_settings');
    if (<%=params[:folder_revoke] != ""%>)
       folder_revoke = '<%=params[:folder_revoke]%>';
    if (<%=params[:call_from_variances] != ""%>)
       high_prop_var = '<%=params[:call_from_variances]%>';
    if (<%=params[:highlight_users_form] != ""%>)
       high_prop_users = '<%=params[:highlight_users_form]%>';
    if (<%=params[:highlight_basic_form] != ""%>)
      high_prop_basic = '<%=params[:highlight_basic_form]%>';
    if (<%=params[:from_property_details] != ""%>  )
      high_prop_detail = '<%=params[:from_property_details]%>';
    if (<%=params[:from_debt_summary] != ""%>  )
      high_prop_debt = '<%=params[:from_debt_summary]%>';
    if (<%=params[:folder_id] != ""%>  )
      folder_id = '<%=params[:folder_id]%>';
    if (<%=params[:document_id] != ""%>  )
      document_id = '<%=params[:document_id]%>';
    if (<%=params[:is_property_folder] != ""%>  )
      is_property_folder = '<%=params[:is_property_folder]%>';
    if (<%=params[:from_prop_setting] != ""%>  )
      from_prop_setting = '<%=params[:from_prop_setting]%>';
    property_settings(port_id,selected_item);
     }

  function set_focus_function_for_other(elem_id)
  {
    window.location.hash = '#'+elem_id;
  }
</script>


<!--[if IE 7 ]>
<style type="text/css">
  #stop_events_top{
    top:-890px;
  }
  #stop_events_bottom{
    top:-890px;
    height:600px;
  }
  #msg_writter{
  padding-bottom:6px;
  }
	#success_msg{
  padding-bottom:6px;
  }
</style>
<![endif]-->

<!--[if IE 8 ]>
<style type="text/css">
  #stop_events_top{
    top:-890px;
  }
  #stop_events_bottom{
    top:-890px;
    height:600px;
  }
</style>
<![endif]-->



