<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>AMP - Simplified Intelligence</title>
        <!-- PLEASE UNCOMMENT THE FOLLOWING IF DEPENDENCY FAILS -->
        <link href="<%= Rails.root.to_s %>/public/stylesheets/amp_v2.css" media="all" rel="stylesheet" type="text/css" />
        <link href="<%= Rails.root.to_s %>/public/stylesheets/ampnew.css" media="all" rel="stylesheet" type="text/css" />
        <link href="<%= Rails.root.to_s %>/public/stylesheets/amp_rf.css" media="all" rel="stylesheet" type="text/css" />
				<link href="<%= Rails.root.to_s %>/public/stylesheets/screen_v1.0.css" rel="stylesheet" type="text/css" />
        <link href="<%= Rails.root.to_s %>/public/stylesheets/sprites.css" media="all" rel="stylesheet" type="text/css" />
        <link href="<%= Rails.root.to_s %>/public/stylesheets/DatePicker/datePicker1.css" media="all" rel="stylesheet" type="text/css" />
        <link href="<%= Rails.root.to_s %>/public/stylesheets/jcarousel.css" media="all" rel="stylesheet" type="text/css" />
        <link href="<%= Rails.root.to_s %>/public/stylesheets/jcarousel.css" media="all" rel="stylesheet" type="text/css" />
        <link href="<%= Rails.root.to_s %>/public/stylesheets/svwp_style.css" media="all" rel="stylesheet" type="text/css" />
        <link href="<%= Rails.root.to_s %>/public/stylesheets/default_swf.css" media="all" rel="stylesheet" type="text/css" />
        <link href="<%= Rails.root.to_s %>/public/stylesheets/DatePicker/datePicker1.css" media="all" rel="stylesheet" type="text/css" />
        <link href="<%= Rails.root.to_s %>/public/stylesheets/advance_due_v2.css" media="all" rel="stylesheet" type="text/css" />
        <link href="<%= Rails.root.to_s %>/public/stylesheets/print.css" media="all" rel="stylesheet" type="text/css" />
        <style type="text/css" media="screen,print">
            .pdf_break_page {
                page-break-after: always;
            }
        </style>
        <script>
            window.onunload = load_completer();
        </script>
    </head>
    <% pdf_conv_path = @pdf.blank? ? '' : Rails.root.to_s+'/public' %>
	<body leftmargin="0" topmargin=0" rightmargin="0" bottommargin="0" marginwidth="0" marginheight=0" style="background-color: #FFFFFF;color:#444">
		
      	<div></div>
                <%= yield %>
    </body>
</html>
